#disagro_logo{
    max-height: 13vh;
}

#loguin_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

#menu_desplegable{
    padding: 5px;
    animation-name: despliegue_menu;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards; /* Mantiene el estado final de la animación */
    animation-play-state: paused;
    width: 0px;
    height: 98%;
    background-color: #1e5c37;
    border: solid 10px #2E8D55;
    border-radius: 20px;
}

#menu_desplegable_content{
    overflow-y: auto;
    overflow-x: hidden;
    /*direction: rtl;*/
    margin: 5%;
    width: 90%;
    height: 95%;
}

#new_acount_container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
}

#screen_base{
    display: flex;
    width: 100%;
    height: 84vh;
}

#usuario{
    color: white
}